body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100%;
}

.container {
    display: flex;
    margin: 5% 15%;
    box-sizing: border-box;
}

.left-column {
    width: 25%;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}

.right-column {
    width: 75%;
    padding: 15px 50px;
    box-sizing: border-box;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    color: #00008b;
}

ul, p, li {
    color: #333;
    line-height: 1.25;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stacks the columns vertically */
        margin: 2% 5%; /* Significantly reduces side margins */
    }
    
    .left-column, .right-column {
        width: 100%; /* Takes full width of the container */
        padding: 10px; /* Reduces padding */
    }
    
    .right-column {
        padding: 10px; /* Further reduces padding in the right column */
    }

    body, html {
        font-size: 14px; /* Smaller font size for smaller screens */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.25em; /* Reduces heading font sizes proportionally */
    }

    .profile-pic {
        width: 60%;  /* Reduces the image width to 60% of its container on small screens */
        margin: 0 auto;  /* Centers the image within the column */
    }
}
